<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet" href="css/style.css")
    title Slackbot SIgnIn
  body
    main
      section.signup
        div.container
          div.signup-content
            div.signup-form
              img(src="img/jokebot.png" alt="dionysus bot" id="dionysus-bot")
              h2.form-title Sign up to use Dionysus Bot
              form(action="/sign-up" method="post")
                span.error= error
                div.form-display
                    input(type="text" name="name" id="" placeholder="Your Name")
                    span: i(aria-hidden="true").fa.fa-user
                div.form-display
                    input(type="email" name="email" id="" placeholder="Your Email")
                    span: i.fa.fa-envelope(aria-hidden="true")
                div.form-display
                    input(type="password" name="password" id="" placeholder="Password")
                    span: i.fa.fa-key(aria-hidden="true")
                div.form-display.form-button
                      input(type="submit" value="Sign Up")
                a(href="/sign-in") Sign in    
                
            div.signup-image
                figure: img(src="img/signup-image.jpg" alt="sing up image")
                a(href="/").signup-image-link home